settings.json
google_sheets_bot/client_secret.json
sheets.googleapis.com-python.json
google sheets bot/client_secret_1058686426150-fa43cjf7fibiapuv4c2kkt6uln4aqmfk.apps.googleusercontent.com (2).json
google sheets bot/__pycache__